@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.navbar .navbar-collapse .nav-item .nav-link{
    color: black;
}

.navbar .navbar-collapse .nav-item .nav-link.active {
    background-color: #EC994B;
    color: white;
}

.container h1{
    color: black;
    margin-bottom: 12px;
}


/* Card Blur  */
.card-img-overlay h5 {
    color: #EC994B;
}
  
  .card-img-overlay p {
    color : #EC994B;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
    filter: blur(5px);
  }
  
  .card-img-overlay:hover {
    opacity: 1;
    filter: blur(0);
  }
  
  .card-img-overlay h5, .card-img-overlay p {
    filter: none;
  }

#rate i {
    color: #EC994B;
}
/* =================== */

/* Testimonial */
.testimonial {
  border: 10px solid #fff;
  padding: 40px 0 25px 0;
  margin: 50px;
  text-align: center;
  position: relative;
}

.testimonial:before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #fff;
  margin: 0 auto;
  font-size: 70px;
  font-weight: 900;
  color: #4C4C6D;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
}

.testimonial .title {
  padding: 7px 0;
  margin: 0 -30px 20px;
  border: 7px solid #fff;
  background: #4C4C6D;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.testimonial .title:before {
  content: "";
  border-top: 15px solid #662a66;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  bottom: -37px;
  left: 0;
}

.testimonial .title:after {
  content: "";
  border-top: 15px solid #662a66;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  bottom: -37px;
  right: 0;
}

.testimonial .post {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.testimonial .description {
  padding: 0 20px;
  margin: 0;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 30px;
}

.owl-theme .owl-controls {
  margin-top: 0;
}

.owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  background: #f1971f;
  color: #fff;
  border-radius: 0;
  margin-right: 5px;
  opacity: 1;
}

.owl-prev:before,
.owl-next:before {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 900;
}

.owl-next:before {
  content: "\f061";
}

@media only screen and (max-width: 990px) {
  .testimonial {
    margin: 30px;
  }
}

/* End Testi */

/* for footer */
ul.list-unstyled > li:first-child {
  font-family: "Cormorant", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 20px;
  color: white

  
}
ul.list-unstyled > li:not(:first-child) {
  font-family: "Mukta", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 32px;
  color: rgba(255, 255, 255, 0.5);
  
}

  /* ==================== */
  /* rating */
  .rating-wrap {
    max-width: 480px;
    margin: auto;
    padding: 15px;
    text-align: center;
  }
  
  .center-rate {
    display: flex; /* use flexbox for vertical alignment */
    align-items: center; /* center items vertically */
    margin: auto;
  }
  
  .center-rate h3 {
    display: inline-block;
    margin: 0;
    margin-right: 10px; /* add some space between h3 and rating */
  }
  
  .rating {
    border: none;
    display: inline-block;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label:before {
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }
  
  .rating > .half:before {
    content: '\f089';
    position: absolute;
    cursor: pointer;
  }
  
  .rating > label {
    color: #ddd;
    float: right;
    cursor: pointer;
  }
  
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #EC994B;
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    color: #EC994B;
  }

/* save feature */
.save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

#savecon {
  display: flex;
  justify-content: center;
  align-items: center;
}


.save #save-icon {
  font-size: 24px;
  color: #fcfcfc;
}

.save #save-text {
  margin-top: 5px;
  color: #fcfcfc;
} 
